.chat {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.chat__head {
  display: flex;
  align-items: center;
}

.chat__head img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.chat__head span:nth-child(1) svg {
  font-size: 32px;
}

.chat__head span {
  font-weight: 550;
}

.chat__chats {
  flex: 1;
}

.chat__chats > span {
 height: fit-content;
}

.chat__chats > span span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: var(--p-color4);
}

.chat__chats > span span:nth-child(2) {
  padding: 10px;
  background-color: var(--p-color8);
  width: fit-content;
  font-size: 14px;
  border-radius: 10px;
  display: block;
}

.chat form {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.chat form button {
  background-color: var(--p-color1);
  padding:5px 10px;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  align-self: end;
}

.chat form button svg {
  color: white;
  font-size: 20px;
}

.textarea {
  display: block;
  overflow: hidden;
  resize: both;
  border-radius: 5px;
  min-height: 40px;
  line-height: 20px;
  font-family: inherit;
  align-self: flex-end;
  border: 10px;
  background-color: var(--inputColor);
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
}

.textarea[contenteditable]:empty::before {
  content: "Enter message";
  color: gray;
}
