.feed {
  padding-bottom: 50px;
  max-width: 600px;
}

@media (min-width: 500px) {
  .feed {
    padding-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .feed {
    flex: 40%;
  }
}

.feed__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:  0.5rem;
}
