.home {
  display: flex;
  justify-content: center;
  gap: 0;
  min-height: 100vh;
  width: 100%;
}

@media(min-width: 500px) {
  .home {
    /* margin-right: 10px; */
    max-width: 600px;
  }
}

@media(min-width: 850px) {
  .home {
    max-width: unset;
  }
}

@media(min-width: 1024px) {
  .home {
    max-width: unset;
  }
}