.pagesNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.pagesNav--hidden{
  transform: translateY(50px);
}

.pagesNavVertical {
  display: none;
}

.pagesNav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--p-color8);
  padding: 1rem .25rem .25rem .25rem;
  height: 50px;
  border-radius: 1rem;
}

.pagesNav__Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

#icon {
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  color: var(--p-color1);
  stroke: var(--p-color8);
  stroke-width: 1;
}

.pagesNav__action {
  color: var(--p-color2);
}

.addPost {
  display: flex;
  border-radius: .75rem;
  padding: 10px;
  background-color: var(--p-color1);
  color: white;
}

@media(min-width: 500px) {
  .pageNavAlt {
    display: none;
    visibility: hidden;
  }

  .pagesNavVertical { 
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
    width: fit-content;
    padding:  10px 20px;
    background-color: white;
  }

  .pagesNavVertical .pagesNav__container {
    flex-direction: column;
    height: unset;
    gap: 30px;
    position: sticky;
    top: 20px;
  }

  .pagesNavVertical .pagesNav__action svg {
    font-size: 25px;
  }
}

@media(min-width: 850px) {
  .remove {
    display: none;
  }
}

@media(min-width: 1024px) {
  .pagesNavVertical {
    display: none;
  }
}