.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border: 1px solid rgb(228, 228, 228);
  gap: 1rem;
  border-radius: 1rem;
}

.post__head > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.post__posterName {
  font-weight: 600;
  line-height: 25px;
}

.post__posterName + span {
  display: block;
  font-size: 14px;
  color: var(--p-color4);
}

.post__head {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: .25rem;
}

.postReact > span {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f3f3f3;
  padding: .35rem .5rem;
  border-radius: .5rem;
  font-weight: 600;
  cursor: pointer;
}

.postReact img {
  width: 1.25rem;
}

.post__detail {
  display: flex;
  align-content: center;
}

.post__detail > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post__comments {
  overflow-y: scroll;
  margin-top: 10px;
  display: grid;
  gap: 10px;
  max-height: 400px;
}

.post__comment {
  display: flex;
  margin-bottom: 12px;
  position: relative;
}

.post__comment > div {
  font-size: 14px;
}

.post__comment > div span:nth-child(2) {
  color: var(--p-color4);
}

.post__comment > div span:nth-child(1)::after {
  content: ".";
  position: absolute;
  top: -4px;
  padding-left: 3px;
}

.post__comment > div span:nth-child(1) {
  font-weight: 500;
  margin-right: 5px;
}

.post__comment > div p {
  margin-top: 5px;
}

.post__comment > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
}

.post__comment > p {
  font-size: 14px;
}

.post__addComment {
  display: flex;
  align-items: center;
  padding: 16px;
}

.post__addComment input {
  border: none;
  flex: 1;
  outline: none;
  background-color: inherit;
  height: 30px;
  font-size: 16px;
}

.post__addComment button:disabled {
  color: var(--p-color3);
}

.post__addComment button {
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: var(--p-color1);
}

/* @media (min-width: 500px) {
  .post {
    border-radius: 10px;
  }
} */
